<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>用户管理</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />

		<script type="text/javascript" src="/javascripts/clockp.js"></script>
		<script type="text/javascript" src="/javascripts/clockh.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>

		<script src="/javascripts/xheditor/xheditor-1.2.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/xheditor/xheditor_lang/zh-cn.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript" src="/javascripts/ddaccordion.js"></script>

		<script type="text/javascript" src="/javascripts/jconfirmaction.jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.ask').jConfirmAction();
			});
		</script>

		<script language="javascript" type="text/javascript" src="/javascripts/niceforms.js"></script>

		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/niceforms-default.css" />

	</head>

	<body>
		<div id="main_container">

			<div class="header">
				<div class="logo">
					<%-include('head.ejs')%>
				</div>

				<div class="right_header">欢迎：
					<%- name %>|
					<a href="/register" class="messages">注册</a> |
					<% if(name){ %>
					<a href="/relogin" class="logout">退出</a>
					<% }else{ %>
					<a href="/login">亲请登录</a>
					<%}	%>
				</div>
				<div id="clock_a"></div>
			</div>

			<div class="main_content">

				<div class="menu">
					<ul>
						<li>
							<a class="current" href="/index">管理员主页</a>
						</li>
						<li>
							<a href="/list">管理类别</a>

						</li>
						<li>
							<a href="/login">管理用户</a>

						</li>

						<li>
							<a href="/login.html">管理订单</a>

						</li>
						<li>
							<a href="login.html">设置</a>

						</li>
						<li>
							<a href="">模板</a>
						</li>
						<li>
							<a href="">定制细节</a>
						</li>
						<li>
							<a href="">联系</a>
						</li>
					</ul>
				</div>

				<div class="center_content">

					<div class="left_content">

						<div class="sidebar_search">
							<form>
							<input type="text" name="" class="search_input" value="search keyword" style="float: left;" />
								<!--<input type="button" value="搜索"/>-->
								<!--<input type="image" class="search_submit" src="/images/search.png" onclick="location.href='/list'"  />-->
								<input type="button" value="搜索" class="btn-primary " style="position: absolute;" id="search"/>
								
								
								<!--<input type="text" name="" class="search_input" value="search keyword"  />
								<input type="image" class="search_submit" src="/images/search.png" id="search" value="搜索"/>-->
								
							</form>
						</div>

						<div class="sidebarmenu">

							<a class="menuitem submenuheader" href="">小类</a>
							
							<a class="menuitem submenuheader" href="">侧边栏设置</a>
							
							<a class="menuitem submenuheader" href="">添加新的产品</a>

							<a class="menuitem" href="">用户参考</a>
							<a class="menuitem" href="">蓝色按钮</a>

							<a class="menuitem_green" href="">绿色按钮</a>

							<a class="menuitem_red" href="">红色按钮</a>

						</div>

					</div>

					<div class="right_content">

						<!--表格的输入数据的传输-->
						<h2>产品的信息的录用</h2>

						<div class="form">
							<div class="niceform">
								<dl>
									<dt><label for="email">产品名称:</label></dt>
									<dd><input type="text" name="" id="title" size="54" /></dd>
								</dl>

								<dl>
									<dt><label for="content">细节描述:</label></dt>
									<dd>

										<textarea name="comment" class="xheditor" id="content" rows="15" cols="36"></textarea>

									</dd>
								</dl>

								<dl>
									<dt><label for="price">价格:</label></dt>
									<dd><input type="text" name="" id="price" size="30" /></dd>
								</dl>

								<dl>
									<dt><label for="date">日期:</label></dt>
									<dd><input type="text" name="" id="date" size="54" /></dd>
								</dl>

								<dl class="submit">
									<input type="button" name="button" id="fabu" value="提交" />
								</dl>
							</div>
						</div>
						<!--弹框-->
						<div class="warp" style="width:600px;height:520px;background:skyblue;position: absolute;display: none;">
							<h2>请您修改</h2>
							<div class="form-horizontal">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">产品</label>
									<div class="col-md-6">
										<input type="text" class="form-control" id="title1" placeholder="产品">
									</div>

								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">细节</label>
									<div class="col-md-6">
										<textarea class="form-control xheditor" id="content1" placeholder="内容"></textarea>

									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">价格</label>
									<div class="col-md-6">
										<input type="text" class="form-control" id="price1" placeholder="价格">
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-2 control-label">日期</label>
									<div class="col-md-6">
										<input type="text" class="form-control" id="date1" placeholder="日期">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label"></label>
								<div class="col-md-6">

									<button type="button" class="btn btn-primary" class="col-sm-5 control-label" class="queren" id="queren">确认
			    </button>
									<button type="button" class="btn btn-primary" class="col-sm-5 control-label" id="quxiao">取消
			      </button>
								</div>
							</div>
						</div>

						<!--弹框结束-->

						<h2>产品类的设置</h2>

						<table id="rounded-corner" summary="2007 Major IT Companies' Profit" style="z-index: 999;">
							<thead>
								<tr>
									<th scope="col" class="rounded-company"></th>
									<th scope="col" class="rounded">编号</th>
									<th scope="col" class="rounded">产品</th>
									<th scope="col" class="rounded">细节</th>
									<th scope="col" class="rounded">价格</th>
									<th scope="col" class="rounded">日期</th>
									<th scope="col" class="rounded">编辑</th>
									<th scope="col" class="rounded-q4">删除</th>
								</tr>
							</thead>

							<tbody>

								<% data.map(function(item,i){%>
								<tr>
									<td>
										<input type="checkbox" name="" />
									</td>
									<td>
										<a href="/detail?id=<%- item._id%>">
											<%-i+1%>
										</a>
									</td>
									<td>
										<a href="/detail?id=<%-item._id%>">
											<%-item.title %>
										</a>

									</td>
									<td>
					<p style="width:100px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">	<%-item.con %>  </p>	
									</td>
									<td>
										<%-item.price %>
									</td>
									<td>
										<%-item.date %>
									</td>

									<td>
										<!--/update?id=<%-item._id%>-->
										<!--      <a href="">-->
										<img src="/images/user_edit.png" alt="" title="" border="0" class="update" data-id="<%- item._id %>" />

										<!--           </a>-->
									</td>
									<td>
										<a href="" class="ask">
											<img src="/images/trash.png" data-id="<%- item._id %>" alt="" title="" border="0" class="dele">
										</a>
									</td>
								</tr>
								<%})%>

							</tbody>
						</table>

						<a href="" class="bt_green">
							<span class="bt_green_lft"></span>
							<strong>添加新项目</strong>
							<span class="bt_green_r"></span>
						</a>
						<a href="" class="bt_blue">
							<span class="bt_blue_lft"></span>
							<strong>查看所有类别的项目</strong>
							<span class="bt_blue_r"></span>
						</a>
						<a href="" class="bt_red">
							<span class="bt_red_lft"></span>
							<strong>删除项目</strong>
							<span class="bt_red_r"></span>
						</a>

						<div class="pagination">
							<span class="disabled">
        
        <a href="/?pageNo=<%-pageNo<=1?1:parseInt(pageNo)-1%>" aria-label="Previous">
				        << 上一页
				</a>
        
        </span>
							<% if(page>5){ %>
							<span class="current"><a href="/?pageNo=1">1</a></span>
							<a href="/?pageNo=2">2</a>
							<a href="/?pageNo=3">3</a>
							<a href="/?pageNo=4">4</a>
							<a href="/?pageNo=5">5</a>
							<a href=""> .........</a>
							<a href="/?pageNo=<%-page-1 %>">
								<%-page-1 %>
							</a>
							<a href="/?pageNo=<%-page %>">
								<%-page %>
							</a>
							<% }else{%>
							<% for(let i=0;i<page;i++){ %>
							<a href="/?pageNo=<%-i+1 %>">
								<%-i+1 %>
							</a>
							<% } %>
							<% } %>
							<a href="/?pageNo=<%-pageNo>=page?page:parseInt(pageNo)+1%>">>>下一页</a>
						</div>
					</div>
					<!-- end of right content-->
				</div>
				<!--end of center content -->
				<div class="clear"></div>
			</div>
		</div>
		<!--弹窗-->

	</body>

	<script src="/javascripts/fwb.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function() {
					//时间获取
					function dateToString(){
							var now=new Date();
						var y = now.getFullYear();
						var m =toTwo( now.getMonth()+1 );
						var d =toTwo( now.getDate() );		
						var h = toTwo( now.getHours() );
						var mi =toTwo( now.getMinutes() );
						var s = toTwo( now.getSeconds() ) ;
						return y+"/"+m+"/"+d + "  " + h + ":" + mi + ":" + s;
						}
					//如果是一位数的时间  前面拼接一个0
						function toTwo(val){
						return val < 10 ? "0"+val : val
						}
						
						window.setInterval(function(){
							$('#date').val(dateToString())
							}, 1000);
						
						
					//发送数据
					$('#fabu').click(function() {
						//发送数据	
						//console.log('kkk')
						$.ajax({
							type: 'post',
							url: '/users',
							data: {
								title: $('#title').val(),
								con: $('#content').val(),
								price: $('#price').val(),
								date: $('#date').val()
							},
							success: function(data) {
								console.log(data)
								if(data == 1) {
									alert('提交成功');
									location.reload()
									//location.href=''
								} else {
									alert('提交失败');

								}
							}
						})
					})

					//修改其内容体系	

					$('.update').click(function() {
							var id = $(this).attr('data-id')
							$('.warp').toggle();
							$("#queren").click(function() {
									console.log('ddd')

									var obj = {
										id: id,
										title: $('#title1').val(),
										con: $('#content1').val(),
										price: $('#price1').val(),
										date:$('#date1').val()
										}

										if(obj){

										$.ajax({
										type:"post",
										url:"/users/update",
										data:obj,
										success:function(data){
										console.log(data)
										if(data==1){
										alert('修改成功');
										$('.warp').hide();
										location.reload()
										//location.href='/'
										}else{
										alert('修改失败');
																			
													}
												}
										})
										}else{
											return;
										}
									})
							})
					
					$('#quxiao').click(function(){
						$('.warp').hide();
					})
					
		//查询
		$("#search").click(function(){
      		var str=$('.search_input').val();
      		//console.log(str);
  			location.href="/find?keywords="+str;

  			})
		document.onkeyup = function(e){
				var evt = e || event;
				var code = evt.keyCode || evt.which;
				if(code==13){
				var str=$('.search_input').val();
      		//console.log(str);
  				location.href="/find?keywords="+str;
					
				}
				
			}
		

					
					
					
					
					
					
				})
		
		
		
		
		
		
		
		
		
	</script>

</html>